.header{
	background-color:#ABFFFA;
	back
	
	font-size:32x;
	text-align:center;
	padding:10px 20px 10px 20px;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;}
	
	
.first {
	background-color:rgb(42, 127, 184);
	text-align:center;
	}
.first img{
	width:100%;
	}
	
	
a{
	font-size:28px;
	text-align:center;
	text-decoration:none;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height:45px;
	
	}
	
	
.second {
	background-color: rgb(23, 159, 135);
	text-align:center;
	}
.second img{
	width:100%;}
	
	
.third {
	background-color: rgb(185, 58, 43);
	text-align:center;
	}
.third img{
	width:100%;}
	
.sc{
	width:31.3%;
	float:left;
	margin:50px 1% ;}
	
.sliderprop img{
	width:100%;
	}
	
@media (max-width: 1024px) {
	
	.sc{
	width:100%;
	float:left;
	margin:50px auto;}
	
}